<div id="div-create-button" class="d-block">
    <button id="button-create" class="btn btn-outline-primary float-end">Create</button>
</div>

<div id="div-create-form" class="d-none">
    <form id="form-create">
        <div class="mb-3">
            <input required minlength="3" type="text" name="title"
                class="form-control" placeholder="Title">
        </div>
        <div class="mb-3">
            <textarea required minlength="5" class="form-control" name="memo"
                placeholder="Memo"></textarea>
        </div>
        <div class="mb-3">
            <input id="shared-with" type="text" name="sharedWith"
                class="form-control" placeholder="Shared With">
        </div>
        <div class="mb-3">
            <label for="image-file-input" class="form-label">Select a photo</label>
            <input type="file" required class="form-control" id="image-file-input"
            accept="image/*">
            <img id="img-tag" src="" height="200" class="d-inline-block">
        </div>
        <div>
            <button value="save" type="submit" class="btn btn-outline-primary">Save</button>
            <button value="cancel" type="submit" formnovalidate
                class="btn btn-outline-secondary">Cancel</button>
        </div>
    </form>
</div>

<div id="home-root" class="row mt-3"></div>